<section class="container">
  <h3 class="blog-name">{{blog.name}}</h3>
  <section class="flex-row justify-center">
    {{#each blog.comments as |comment|}}
      <div class="comment">
        <p>{{comment.text}}</p>
        <p class="comment-date">{{comment.date_created}}</p>
      </div>
    {{/each}}
  </section>
  <form id="form-container"></form>
  <button id="new-post-button" class="btn btn-primary">+ New Post</button>
</section>

<script src="/js/dashboard.js"></script>